@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 992px){
    .navbar .nav-link {
        font-weight: 500;
    }
}