/* Theme Style */
.vr-gap {
    padding-top: 70px;
    padding-bottom: 70px;
}
.vr-gap-t {
    padding-top: 70px;
}
.vr-gap-b {
    padding-bottom: 70px;
}
a {
    color: #333333;
}
a:hover {
    color: #006796;
}