Changes
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Hind Madurai", sans-serif;
    src: url('../font/Hind_Madurai/HindMadurai-Bold.ttf');
    src: url('../font/Hind_Madurai/HindMadurai-Light.ttf');
    src: url('../font/Hind_Madurai/HindMadurai-Medium.ttf');
    src: url('../font/Hind_Madurai/HindMadurai-Regular.ttf');
    src: url('../font/Hind_Madurai/HindMadurai-SemiBold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Color 
    color: #006796;
    color: #F4D03F;
*/
/* Theme Style */
body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Hind Madurai", sans-serif;
}
a, h1, h2, h3, h4, h5, h6, span, p, .dropdown-item, .nav-link {
    margin: 0;
}
p {
    font-size: 17px;
    margin-bottom: 10px;
}
a {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #006796;
}
a.btn {
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 0px;
}
ul {
    padding: 0px;
}
.primary {
    background-color: #006796;
    color: #ffffff;
    border: 1px solid #006796;
}
.primary:hover {
    color: #006796;
    background-color: transparent;
    border: 1px solid #006796;
}
.secondary {
    background-color: transparent;
    color: #006796;
    border: 1px solid #006796;
}
.secondary:hover {
    background-color: #006796;
    color: #ffffff;
    border: 1px solid #006796;
}
.vr-gap {
    padding-top: 60px;
    padding-bottom: 60px;
}
.vr-gap-t {
    padding-top: 60px;
}
.vr-gap-b {
    padding-bottom: 60px;
}
.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}
.bg-light {
    background-color: #f7f9fa!important;
}

/* Owl Carousel */
.owl-carousel .owl-nav.disabled {
    display: block!important;
}
.owl-nav button span {
    background-color: #ffffff;
    width: 40px;
    font-size: 40px;
    height: 40px;
    box-shadow: 0px 1px 5px #cccccc;
    border-radius: 54px;
    line-height: 40px;
    display: inline-block;
    color: #006796;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    background: 0 0;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    background: 0 0;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.inner-slider-carousel .owl-nav.disabled {
    display: none!important;
}

/* Course Single Style */
.course-single {
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0px 10px #dddddd;
    margin: 5px;
    color: #444444;
}
.course-single h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 3px 0px;
    line-height: 20px;
}
.course-single a > img {
    border-radius: 5px;
}
.course-single .d-flex {
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    line-height: 25px;
}
.course-single span i{
    font-size: 10px;
    color: rgb(237 174 0);
}
.course-single p {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}
.course-single .d-flex sub {
    font-size: 13px;
}
.course-single a.buy {
    padding: 3px 8px;
    font-weight: 500;
    border-radius: 0px;
    background-color: #006796;
    color: #ffffff;
    border: 1px solid #006796;
    border-radius: 3px;
    font-size: 14px;
    line-height: 23px;
}
.course-single a.buy:hover  {
    color: #006796;
    background-color: transparent;
    border: 1px solid #006796;
}

/* Category Single Style */
.category-single {
    border-radius: 5px;
    margin: 20px 7px;
    transition: all linear 0.3s;
    padding: 5px;
    box-shadow: 0 0 10px #dddddd;
}

.category-single h4 {
    font-size: 18px;
    font-weight: 500;
}
.owl-item.active.center > .category-single {
    transform: scale(1.1);
}
.category-single {
    
}
.category-single h4 {
   
}

/* Footer Style */
.footer-body h4 {
    color: #f1f1f1
}
.footer-body p {
    color: #f1f1f1;
    font-size: 16px;
}
.footer-body .social-link i {
    content: "\f586";
    font-size: 20px;
    padding: 0 5px;
}
.footer-single > a {
    position: relative;
    padding-right: 15px;
}
.footer-single > a::before {
    border-radius: 5px;
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 4px;
    height: 4px;
    top: 9px;
    right: 4px;
}
.footer-single > a::before a:last-child {
    background-color:transparent;
    position: absolute;
}
.footer-body .social-link img {
    width: 24px;
    filter: grayscale(1);
    margin: 5px 2px;
}
.footer-body .social-link img:hover {
    filter: grayscale(0);
}
.footer-bottom {
    border-top: 1px solid #333333;
}
.footer-bottom p, a {
    color: #f1f1f1;
    margin: 0;
}



/* Header Style */
.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar .nav-link.primary {
    color: #ffffff;
}
.navbar .nav-link.primary:hover {
    color: #006796;
}
.navbar  .dropdown-menu[data-bs-popper] {
    top: 50px;
}
.navbar-nav .dropdown-menu {
    border-radius: 0px;
    padding: 0px;
    border: 0px;
}
.navbar-nav .dropdown-item {
    padding: 7px 15px;
    background-color: #006796;
    color: #ffffff;
}
.navbar-nav .dropdown-item:hover {
    background-color: #ffffff;
    color: #006796;
}
.navbar-toggler {
    border-radius: 0px;
    border: 1px solid #006796;
    padding: 0px 8px;
}
.navbar-toggler .bi-list::before {
    color: #006796;
    font-size: 40px;
}
.navbar-toggler:focus {
    box-shadow: none;
}

/* Banner Style */
.carousel-control-next, .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 50px;
    background-color: #006796;
    border: 1px solid #006796;
}
.carousel-control-prev {
    left: 50px;
}
.carousel-control-next {
   right: 50px;
}
.carousel-caption {
    right: 40%;
    bottom: 50%;
    left: 10%;
    transform: translateY(50%);
    text-align: left;
}
.carousel-caption h5 {
    font-size: 50px;
    line-height: 60px;
}


/* Inner Slider Style */
#inner-slider img {
    border-radius: 5px;
}


/* Testimonial Style */
.testimonial-single {
    border-radius: 5px;
    padding: 25px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 0 0 10px #dddddd;
}
.testimonial-single img {
    border-radius: 100px;
}
.testimonial-single ul {
    list-style-type: none;
    margin-bottom: 10px;
}
#testimonial .testimonial-single li:first-child{
    margin-right: 10px;
}
#testimonial .testimonial-single li > p {
    margin: 0px;
    font-size: 16px;
}
